


  /* generic setting */
*{
    padding: 0;
    margin: 0px;
    box-sizing: border-box;
  }
  body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background:linear-gradient(90deg,rgb(10, 10, 45),rgb(4, 88, 121),rgb(4, 5, 62));
  }
/**beginning of nav bar**/
  /*Flexbox for navigation Menu main view these have 3 parts mobile, desktop, labtop*/

a{
  color: black;
  
}
.header {
  background-color: white;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  width: 100%;
  position:fixed;
  z-index:3;
  right: 0;
  height: 10%;
  font-size: 12px;
}
.header ul{
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: white;
}
.header ul a{
  display: block;
  color: rgb(22, 2, 2);
  padding: 20px;
  border-right: 1px solid #aaa;
  text-decoration: none;
}
.header ul a:hover{
  background-color: #ddd;
}
.header .logo{
  float: left;
  display: block;
  font-size: 2em;
  padding: 10px 20px;
}

/*mobile nav*/
.header .menu{
  clear: both;
  max-height: 0;
  transition: max-height 2s ease-out;
}

.header .menu-icon{
  padding: 28px 20px;
  position: relative;
  cursor: pointer;
  margin-left: auto;
  margin-right: 0;
  float: left;
}

.header .menu-icon .nav-icon{
  background-color: gray;
  display: block;
  height:2px ;
  width:18px ;
  position: relative;
  transition: background .2s ease-out;

}
.header .menu-icon .nav-icon:before{
  background: gray;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 5px;
  transition: all .2s ease-out;
}
.header .menu-icon .nav-icon:after{
  background: gray;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: -5px;
  transition: all .2s ease-out;
}
.header .menu-btn{
  display: none;
}
.menu-icon{
  color: white;
}
/*make menu expand and change the icon if box is checked*/
.header .menu-btn:checked ~ .menu{
  max-height:240px ;
}
.header .menu-btn:checked ~ .menu-icon .nav-icon{
background: transparent;
}
.header .menu-btn:checked ~ .menu-icon .nav-icon:before{
  transform: rotate(-45deg);
  top: 0;
}
.header .menu-btn:checked ~ .menu-icon .nav-icon:after{
  transform: rotate(45deg);
  top: 0;
}
/**adjust screen size for nav bar**/
@media(min-width:48em){
  .header li{
    float:left
  }
  .header li a{
    padding:20px 30px;
  }
  .header .menu{
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon{
    display: none;
  }
  
}
/**End of Nav box controls**/
/**End of Nav box controls**/


/**header_container?**/
  .header_container{
    width:auto;
    height:auto;
    position: relative;
    background: transparent;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
  }

  

/*index page CSS*/
/*index page CSS*/

  h1{
    color: rgb(182, 205, 205);
    text-align: center;
    font-size: 28px;
    padding-top: 10px;
    padding-bottom: 22px;
  }
  .container{
    display: flex;
    flex-wrap: wrap;
    padding: 0px 0px;
    position: relative;
    margin-top: 5%;
    margin-bottom: 20%;
    perspective: 1000px;
    transform-style: preserve-3d;
    align-items:flex-start;
    animation: ror 10s linear infinite;
    justify-content: center;
   
  }

  .video_clip{
    flex: 25%;
    max-width: 25%;
    padding: 0px 4px;
    position: absolute;
    transform-style: preserve-3d;
    animation: rotate 10s linear infinite;
   ;
  }

  video{
    margin-top: 8px;
    vertical-align: middle;
    align-items:center;
    transition: .5s;
    max-width:30%;
    position: absolute;
    padding-left: 15px;
  }
  video:hover{
   cursor: pointer;
  }
  @media screen and (max-width: 800px) {
    .container{
      width:50%;
      height: 50%;
    }
    .flex-container{
      width:50%;
      height: 50%;
    }
  }
  @media  (max-width: 600px) {
    .container{
      width:100%;
      height: 100%;
    }
    .flex-container{
      width:50%;
      height: 50%;
    }
  }
.flex-container{
  color: silver;
  margin-left: 15px;
  padding-bottom: 20px;
}

video:nth-child(1){
  transform: rotateY(-45deg) translateZ(300px);
}
video:nth-child(2){
  transform: rotateY(-120deg) translateZ(300px);
}
video:nth-child(3){
  transform: rotateY(120deg) translateZ(300px);
}


.menu-bar{
    height: 80px;
    width: 100%;
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding: 0 5%;
  }


/*  scrollbar width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

footer{
  background-color: black;
  opacity: 0.6;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 30px;   /* Height of the footer */
}




/*design process css started here*/
.d-body{
  margin: 0;
  background-color:white;
  font-family: Arial, Helvetica, sans-serif;
}
.design_bg{
  background-color: #f1f1f1;
  
}
@media (min-width: 1536px) {
  .image_size_des{
    max-width: 1536px;
  }
  .design , p, img{
    max-width: 1536px;
  }
  .design1{
    max-width: 1536px;
  }
  .container_image{
    max-width: 1536px;
  }
  .design img{
    max-width:80vh;
    max-height: 80vh;
  }


}
@media(min-width: 1280px){
  .image_size_des{
    max-width: 1280px;
  }
  .design{
    max-width: 1280px;
  }
  .design1{
    max-width: 1280px;
  }
  .container_image{
    max-width: 1280px;
  }
  .design img{
    max-width:80vh ;
    max-height: 80vh;
  }
}
@media(min-width: 1024px){
  .image_size_des{
    max-width: 1024px;
  }
  .design , p, img{
    max-width: 1024px;
  }
  .design1{
    max-width: 1024px;
  }
  .container_image{
    max-width: 1024px;
  }
  .design img{
    max-width:80vh;
    max-height: 80vh;
  }
}
@media(min-width: 768px){
  .image_size_des{
    max-width: 768px;
  }
  .design , p, img{
    max-width: 768px;
  }
  .design1{
    max-width: 768px;
  }
  .container_image{
    max-width: 768px;
  }
  .design img{
    max-width:80vh ;
    max-height: 80vh ;
  }
}
@media(min-width: 640px){
  .image_size_des{
    max-width: 640px;
  }
  .design , p, img{
    max-width: 640px;
  }
  .design1{
    max-width: 640px;
  }
  .container_image{
    max-width: 640px;
    
  }
  .design img{
    max-width:80vh ;
    max-height: 80vh;
  }
}
@media(min-width: 475px){
  .image_size_des{
    max-width: 475px;
  }
  .design , p, img{
    max-width: 475px;
  }
  .design1{
    max-width: 475px;
  }
  .container_image{
    max-width: 475px;
  }
  .design img{
    max-width:80vh ;
    max-height: 80vh ;
  }
}

@media (max-width: 1536px) {
  .image_size_des{
    max-width: 1536px;
  }
  .design , p, img{
    max-width: 1536px;
  }
  .design1{
    max-width: 1536px;
  }
  .container_image{
    max-width: 1536px;
  }
 


}
@media(max-width: 1280px){
  .image_size_des{
    max-width: 1280px;
  }
  .design , p, img{
    max-width: 1280px;
  }
  .design1{
    max-width: 1280px;
  }
  .container_image{
    max-width: 1280px;
  }
}
@media(max-width: 1024px){
  .image_size_des{
    max-width: 1024px;
  }
  .design , p, img{
    max-width: 1024px;
  }
  .design1{
    max-width: 1024px;
  }
  .container_image{
    max-width: 1024px;
  }
}
@media(max-width: 768px){
  .image_size_des{
    max-width: 768px;
  }
  .design , p, img{
    max-width: 768px;
  }
  .design1{
    max-width: 768px;
  }
  .container_image{
    max-width: 768px;
  }
}
@media(max-width: 640px){
  .image_size_des{
    max-width: 640px;
  }
  .design , p, img{
    max-width: 640px;
  }
  .design1{
    max-width: 640px;
  }
  .container_image{
    max-width: 640px;
  }
}
@media(max-width: 475px){
  .image_size_des{
    max-width: 475px;
  }
  .design , p, img{
    max-width: 475px;
  }
  .design1{
    max-width: 475px;
  }
  .container_image{
    max-width: 475px;
  }
}
.image_size_des{
  width: 370px;
  height:370px;
  margin-right: auto;
  margin-left: auto;
  display: block;
  margin-top: -10px;
  border: 1px;
  border-color: #888;
}
.design{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding: 0.5rem;
}

.design1{
  background-color: rgba(217, 192, 70, 0.87);
  display:block;
  font-family: Georgia;
  padding: 40px;
  width:1240px;
 
}

.menu_bar ul li{
  display: inline;
  margin-left: 200px;
}
.container_image{
  width: 350px;
  height: 220px;
  margin-left: auto;
  margin-right:auto;
  padding-top: 2px;
  display: block;
  padding-bottom: 3px;
}

.sub_img{
  width: 575px;
  height: 475px;
  margin-left: 25px;
}

.img-girl{
  width:30% ;
  height:15% ;
  align-items: center;
  display: inline;
}




