
/*index page CSS*/

  /* generic setting */
*{
    padding: 0;
    margin: 0px;
    box-sizing: border-box;
  }
 
div .title_Des{
  color: rgb(182, 205, 205);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 28px;
  margin: 0;
  width: auto;
  
}

.header_container{
  width:auto;
  height:20px ;
  position: relative;
  background: transparent;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  

}

body{
  background-color: rgb(4, 5, 62);
  padding-bottom: 150px;
}


  /*video css*/  
.video_size{
  position: relative;
  width:auto;
  height:210px;
  margin-left: 445px;
  border-radius: 50%;
  top: 30px;
  bottom: 75px;
  opacity: 0.5;
}


/*buttons*/
.buttons{
  background-color: azure;
  border-radius: 10px;
  color: rgb(1, 1, 19);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: serif;
  font-size: 14px;
  padding: 15px 32px;
  cursor: pointer;
  transition-duration: 0.4s;
  margin-left: 48px;
  border-style: inset;
  border-width: 4px;
}
/*button hover*/
.buttons:hover {
  box-shadow: 0 12px 16px 0 rgba(239, 239, 244, 0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  background-color: rgb(4, 4, 53);
  color: aliceblue;
}
.menu-bar{
    height: 80px;
    width: 100%;
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding: 0 5%;
  }


.requirements{
  display:inline-block;
  width:135px;
  height: 50px;
  color: silver;
  margin-left: 66px;
  vertical-align: text-top;
}

.requirements1{
  display:inline-block;
  width:135px;
  height: 50px;
  color: silver;
  margin-left: 10px;
  vertical-align: text-top;
}
.requirements3{
  display:inline-block;
  width:135px;
  height: 50px;
  color: silver;
  margin-left: 80px;
  vertical-align: text-top;
}
.requirements4{
  display:inline-block;
  width:135px;
  height: 50px;
  color: silver;
  margin-left: 50px;
  vertical-align: text-top;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

 
/* spacing for in between menu list */
.nav_bar ul li{
  display: inline;
  margin-left: 200px;
}
.nav_bar ul a{
  color: rgb(226, 233, 239);
  text-decoration: none;
  font-size: 22px;
  transition: all 0.3s;
  
}
.nav_bar:hover{
  background-color: rgb(25, 36, 142);
}
.nav_bar ul a:hover{
  background-color: rgb(93, 117, 158);
}
.overlap1{
  color: rgb(93, 117, 158);
  transform: rotate(15deg);
  font-size: 12px;
  top: 115px;
  margin-left: 0px;
  position:absolute;
  opacity:0.3;
  
}
.overlap2{
  transform: rotate(15deg);
  top: 165px;
  margin-left: 0px;
  position:absolute;
  opacity:0.3;
  font-size: 26px;
  margin-left: 136px;
}
.overlap3{
  color: rgb(93, 117, 158);
  transform: rotate(-30deg);
  font-size: 12px;
  top: 245px;
  margin-left: 100px;
  position:absolute;
  opacity:0.3;
  
}
.overlap4{
  color: rgb(89, 144, 239);
  transform: rotate(-30deg);
  font-size: 12px;
  top: 265px;
  margin-left: 100px;
  position:absolute;
  opacity:0.3;
  padding-left: 5px;
}
.overlap5{
  color: rgb(60, 125, 238);
  transform: rotate(-30deg);
  font-size: 12px;
  top: 289px;
  margin-left: 100px;
  position:absolute;
  opacity:0.3;
  padding-left: 10px;
}
.overlap6{
  color: rgb(32, 107, 237);
  transform: rotate(-30deg);
  font-size: 12px;
  top: 280px;
  margin-left: 100px;
  position:absolute;
  opacity:0.3;
}

span{
 color: rgb(24, 199, 226);
}
.space{
  padding-bottom: 150px;
}
footer{
  background-color: black;
  opacity: 0.6;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 30px;   /* Height of the footer */
}
.overlap7{
  color: rgb(93, 117, 158);
  transform: rotate(15deg);
  font-size: 12px;
  top: 125px;
  margin-left: 900px;
  position:absolute;
  opacity:0.3;
  display: inline;
  
}
.overlap8{
  transform: rotate(15deg);
  top: 145px;
  margin-left: 900px;
  position:absolute;
  opacity:0.3;
  display: inline;
  font-size: 24px;
  color: rgb(28, 190, 254);
}
.overlap9{
  color: rgb(51, 183, 248);
  transform: rotate(-30deg);
  font-size: 12px;
  top: 165px;
  margin-left: 900px;
  position:absolute;
  opacity:0.3;
  display: inline;
}
.overlap10{
  color: rgb(93, 117, 158);
  transform: rotate(-30deg);
  font-size: 16px;
  top: 220px;
  margin-left: 900px;
  position:absolute;
  opacity:0.3;
  padding-left: 5px;
  display: inline;
 ;
}
.overlap11{
  color: rgb(93, 117, 158);
  transform: rotate(-30deg);
  font-size: 12px;
  top: 240px;
  margin-left: 900px;
  position:absolute;
  opacity:0.3;
  padding-left: 10px;
  display: inline;
}
.psize{
  font-size: 13px;
  color: rgb(93,117,158);
  opacity: 0.3;
  margin-left: 285px;
  margin-top: -150px;
}
.pcolor{
  font-size: 13px;
  color: rgb(221, 235, 242);
  opacity: 0.3;
}
.pcolor1{
  font-size: 13px;
  color: rgb(235, 240, 250);
  opacity: 0.3;
  margin-left: 335px;
}
.pcolor2{
  font-size: 13px;
  color: rgb(244, 246, 249);
  opacity: 0.3;
  margin-left: 985px;
}






/*design process css started here*/
.design_bg{
  background-color: #f1f1f1;
  
}
.image_size_des{
  width: 370px;
  height:370px;
  margin-right: auto;
  margin-left: auto;
  display: block;
  margin-top: -10px;
  border: 1px;
  border-color: #888;
}
.design{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 15px;
}

.design1{
  background-color: rgba(217, 192, 70, 0.87);
  display:block;
  font-family: Georgia;
  padding: 40px;
  width:1240px;
 
}

.menu_bar ul li{
  display: inline;
  margin-left: 200px;
}
.container_image{
  width: 350px;
  height: 220px;
  margin-left: auto;
  margin-right:auto;
  padding-top: 2px;
  display: block;
  padding-bottom: 3px;
}

.sub_img{
  width: 575px;
  height: 475px;
  margin-left: 25px;
}

.img-girl{
  width:30% ;
  height:15% ;
  align-items: center;
  display: inline;
}




/*Flexbox for navigation Menu main view these have 3 parts mobile, desktop, labtop*/
.d-body{
  margin: 0;
  background-color:white;
  font-family: Arial, Helvetica, sans-serif;
}
a{
  color: black;
  
}
.header {
  background-color: white;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  width: 100%;
  position:fixed;
  z-index:3;
  right: 0;
  height: 10%;
  font-size: 16px;
}
.header ul{
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: white;
}
.header ul a{
  display: block;
  color: rgb(22, 2, 2);
  padding: 20px;
  border-right: 1px solid #aaa;
  text-decoration: none;
}
.header ul a:hover{
  background-color: #ddd;
}
.header .logo{
  float: left;
  display: block;
  font-size: 2em;
  padding: 10px 20px;
}

/*mobile nav*/
.header .menu{
  clear: both;
  max-height: 0;
  transition: max-height 2s ease-out;
}

.header .menu-icon{
  padding: 28px 20px;
  position: relative;
  cursor: pointer;
  margin-left: auto;
  margin-right: 0;
  float: left;
}

.header .menu-icon .nav-icon{
  background-color: gray;
  display: block;
  height:2px ;
  width:18px ;
  position: relative;
  transition: background .2s ease-out;

}
.header .menu-icon .nav-icon:before{
  background: gray;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 5px;
  transition: all .2s ease-out;
}
.header .menu-icon .nav-icon:after{
  background: gray;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: -5px;
  transition: all .2s ease-out;
}
.header .menu-btn{
  display: none;
}
.menu-icon{
  color: white;
}
/*make menu expand and change the icon if box is checked*/
.header .menu-btn:checked ~ .menu{
  max-height:240px ;
}
.header .menu-btn:checked ~ .menu-icon .nav-icon{
background: transparent;
}
.header .menu-btn:checked ~ .menu-icon .nav-icon:before{
  transform: rotate(-45deg);
  top: 0;
}
.header .menu-btn:checked ~ .menu-icon .nav-icon:after{
  transform: rotate(45deg);
  top: 0;
}

@media(min-width:48em){
  .header li{
    float:left
  }
  .header li a{
    padding:20px 30px;
  }
  .header .menu{
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon{
    display: none;
  }
}